<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BirbHunter</title>
  <%= cordova %>
  <style>
    @font-face {
      font-family: PS2P;
      src: url(assets/fonts/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    }
    body {
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>

</body>
</html>
